<h2 mat-dialog-title>Crear Clase</h2>
<div mat-dialog-content>
  <form [formGroup]="classForm">
    <div class="row">
      <div class="col-6">
        <mat-form-field class="w-100 p-2" appearance="fill">
          <mat-label>IdCourse</mat-label>
          <mat-select formControlName="courseId">
            <mat-option *ngFor="let course of courses" [value]="course.id">
              {{ course.name }} - {{ course.price | currency }}
            </mat-option>
          </mat-select>
          <mat-hint>Campo requerido</mat-hint>
          <mat-error>{{ courseIdControl?.errors | formFieldValidationErrors }}</mat-error>
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field class="w-100 p-2" appearance="fill">
          <mat-label>StudentId</mat-label>
          <mat-select formControlName="studentId">
            <mat-option *ngFor="let student of students" [value]="student.id">
              {{ student.firstName }} {{ student.lastName }}
            </mat-option>
          </mat-select>
          <mat-hint>Campo requerido</mat-hint>
          <mat-error>{{ studentIdControl?.errors | formFieldValidationErrors }}</mat-error>
        </mat-form-field>
      </div>
      <div class="col-8">
        <mat-form-field class="w-100 p-2" appearance="fill">
          <mat-label>Qty</mat-label>
          <input formControlName="qty" matInput type="number" />
          <mat-error>{{ qtyControl?.errors | formFieldValidationErrors }}</mat-error>
        </mat-form-field>
      </div>
    </div>
  </form>
  <div class="d-flex justify-content-end" mat-dialog-actions>
    <button mat-dialog-close mat-button>Cancelar</button>
    <button (click)="onSave()" mat-button>Guardar</button>
  </div>
</div>
